/* Elements */
body {
    background-color:lightgray;
    font-size: 12pt;
    font-weight: 100;
    color:rgb(66, 66, 66);
    width: 100 vw;
    height: 100 vh;
    margin: 10px;
    padding: 0px;
    overflow-x:hidden;
}

header{
    /* background-image: url("background.jpeg");
    background-repeat: no-repeat; */
    background-color: darkgray;
    text-align: center;
    height: auto;
    padding: 10px;
    margin: 0px;
}

main {
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0px 0px 10px;
}

h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2rem;
    font-weight: 50;
    margin: 0px 0px 10px;
}

h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.5rem;
    font-weight: 5000;
    text-transform: uppercase;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
}


p{
    text-align: justify;
    margin: .5rem 0px;
}

img{
    width: 400px;
    height: 270px;
    margin: 5px 0px; 
}

div{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}


a{
    color:rgb(66, 66, 66);
    font-weight: 600;
    text-decoration:none;
}

a:hover {
    color: black !important;
}

a:visited {
    color: black;
}


footer{
    background-color: darkgray;
    text-align: center;
    height: auto;
    padding: 10px;
    margin: 0px; 
}

/* IDs */
#page-title {
    color: rgb(66, 66, 66);
    text-align: center;
}

#tagline{
    color: rgb(66, 66, 66);
    text-align: center;
}

/* Classes */
.imagespec {
    float: none;
}
 
.bordered {
    border: 10px double rgb(66, 66, 66);
    padding: 0px;
} 
